<section class="info-bar">
    <div class="location-info">
        <span>Constitución 101, Barrio La Purísima</span>
    </div>
    
    <span>Todos los días de 8:30 a.m. - 2:00 p.m.</span>
    
    <div class="contact-links">
        <button class="btn-contact" id="btn-ig">@casabarro.ags</button>
        <button class="btn-contact" id="btn-fb">Facebook</button>
        <button class="btn-contact" id="btn-phone">Llamar ahora</button>
        <button class="btn-contact" onclick="mostrarPoliticas()" style="border-color: rgba(255,255,255,0.2);">Políticas de Venta</button>
    </div>
</section>